<h2>Sign in in my awesome rails site</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render "links" %>





    <dd><fb:login-button length="long" onlogin="location.href = '/facebook'" scope="email"></fb:login-button></dd>



    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
      FB.init({
        appId: "365013233534739",
        cookie: true,
        xfbml: true,
        oauth: true
      });
    </script>


